<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @stock.item_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stock.quantity %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
