<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @purchase.user_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @purchase.member %>
</p>

<p>
  <strong>Pay method:</strong>
  <%= @purchase.pay_method %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @purchase.card_number %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase.quantity %>
</p>

<p>
  <strong>Sub total:</strong>
  <%= @purchase.sub_total %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @purchase.discount %>
</p>

<p>
  <strong>Paid amount:</strong>
  <%= @purchase.paid_amount %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
