<p id="notice"><%= notice %></p>

<h1><%= @item.name %></h1>
</br>
<p>
  <strong>Barcode:</strong>
  <%= @item.barcode %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price: </strong>£
  <%= @item.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
</p>

<%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-info' %> |
<%= link_to 'Back', items_path, class: 'btn btn-warning' %>
